
{% extends "base.html" %}

{% block content %}
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6"><div class="text-left"><a href="{% url 'task_status' taskstatus.id %}">{{ taskstatus.name }}</a></div></div>
                <div class="col-md-6"><div class="text-right"><a href="{% url 'task_status_update' taskstatus.id %}" class="badge badge-primary">Edit</a> <a href="{% url 'task_status_delete' taskstatus.id %}" class="badge badge-danger">Delete</a></div></div>
            </div>
        </div>
              
      </div>

{% endblock %}