
{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-3">filters</div>
  <div class="col-md-9">
    <h3 class="cover-heading">Task statuses list:</h3>
    {% if task_statuses %}
    {% for task_status in task_status %}
    <div class="card text-white bg-secondary mb-3">
      <div class="card-header">
        <div class="row">
          <div class="col-md-6"><div class="text-left"><a href="{% url 'task_status' task_status.id %}">{{ task_status.name }}</a></div></div>
          <div class="col-md-6"><div class="text-right"><a href="{% url 'task_status_update' task_status.id %}" class="badge badge-primary">Edit</a> <a href="{% url 'task_status_delete' task_status.id %}" class="badge badge-danger">Delete</a></div></div>
        </div>
      </div>
      <div class="card-body">
        <p class="card-text"><a href="{% url 'task_status_create'%}?next={{request.path}}">New status</a></p>
      </div>

     

    </div>
    
  {% endfor %}
  {% else %}
    <p>You don't have any statuses. </p>
  {% endif %}  
  <p class="card-text"><a href="{% url 'task_status_create'%}?next={{request.path}}">New status</a></p>
  </div>
</div>
   
    
{% endblock %}